@model KittyUI.Models.ListLocationsViewModel
@{
    ViewBag.Title = "ListLocations";
}

<h2>List of Departments</h2>
<div style="height:340px;width:180px;display:inline-block;overflow:scroll">
    <table>
        <tr>
            <TH>ID</TH>
            <TH>Name</TH>
        </tr>
        @foreach (var item in Model.locs)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    </div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <br><p>Introduce new department to DataBase</p><br>
            @Html.LabelFor(model => model.AddCity.Name, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-100">
                @Html.EditorFor(model => model.AddCity.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add"
                        class="btn btn-default" />
            </div>
        </div>
        </div>
}





